<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791392216984-6g5refk44rp42tk7dmp6hsjbpfa8o6cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791392216984-6g5refk44rp42tk7dmp6hsjbpfa8o6cv</string>
	<key>API_KEY</key>
	<string>AIzaSyBnjW_Y7cVusqwnfnVt1qgMv-n3rPhn_-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>791392216984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodbits.projectorstream</string>
	<key>PROJECT_ID</key>
	<string>projectormobile-3fcd2</string>
	<key>STORAGE_BUCKET</key>
	<string>projectormobile-3fcd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791392216984:ios:829e703ce7dc5cda71eded</string>
</dict>
</plist>